/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #29252417;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 8rem; /* Adjust the font size as needed */
	font-weight: 500;
	text-align: center;
	padding: 1rem 0; /* Adjust the padding as needed */
	color: #333; /* Dark gray text color */
  }

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}


.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #010202c9; /* Blue background color */
	color: #fff; /* White text color */
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	vertical-align: top;
	margin-left: 30px;
  }
  
  /* Hover effect for the button */
  .button:hover {
	background-color: #000000; /* Darker blue background color on hover */
  }



  /* Style for the custom file input container */
.custom-file-input {
	display: inline-block;
	position: relative;
	overflow: hidden;
  }
  
  /* Hide the original file input */
  .input-hidden {
	display: none;
  }
  
  /* Style for the custom file input label */
  .file-label {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff; /* Button color */
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	font-size: 15px;
	font-family: 'Montserrat';
  }
  
  /* Hover effect for the label */
  .file-label:hover {
	background-color: #0056b3; /* Darker blue on hover */
  }